.list-item {
  width: calc(100% - 48px);
  padding: 0 24px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff20;
}

.list-item.active {
  background-color: #ffffff20;
}

.list-item > input {
  all: unset;
  color: inherit;
  width: 6ch;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
