.app-container {
  width: 100%;
  padding-top: 8px;
}

.app-placeholder {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-placeholder > span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  text-align: center;
}

.app-header {
  width: calc(100% - 48px);
  padding: 0 24px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rounds-counter {
  font-weight: bold;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.clear-button {
  font-size: 20px;
  margin-top: 2px;
}

.effects-button {
  font-size: 24px;
  margin-top: -4px;
}

.config-button {
  font-size: 24px;
  margin-top: -2px;
}
